.one-commit-container{
    width: 1780.47px;
    height: 124.84px;
    top: 92.98px;
    left: 18.19px;
    border-radius: 8.6px;
    
}
.one-commit-container_head_text{
    width: 129.69px;
    height: 27.52px;
    top: 16px;
    left: 16px;
    padding: 2.62px 16.85px 4.26px 17.18px;
    border-radius: 5.16px;
}
.one-commit-container__content{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}